@model Application.Models.Response.PriceResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Home</a>
</div>
